{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    <li>
      <header-menu>
        <details id="Details-HeaderMenu-0" class="mega-menu">
          <summary
            id="HeaderMenu-collections"
            class="header__menu-item list-menu__item link focus-inset"
          >
            <span class="header__active-menu-item">Collections</span>
            {% render 'icon-caret' %}
          </summary>
          <div
            id="MegaMenu-Content-0"
            class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
            tabindex="-1"
          >
            <ul id="menu-collections" class="mega-menu__list page-width" role="list"></ul>
          </div>
        </details>
      </header-menu>
    </li>
    <li>
      <header-menu>
        <details id="Details-HeaderMenu-1" class="mega-menu">
          <summary
            id="HeaderMenu-departments"
            class="header__menu-item list-menu__item link focus-inset"
          >
            <span class="header__active-menu-item">Departments</span>
            {% render 'icon-caret' %}
          </summary>
          <div
            id="MegaMenu-Content-1"
            class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
            tabindex="-1"
          >
            <ul id="menu-departments" class="mega-menu__list page-width" role="list"></ul>
          </div>
        </details>
      </header-menu>
    </li>
    <li>
      <header-menu>
        <details id="Details-HeaderMenu-2" class="mega-menu">
          <summary
            id="HeaderMenu-characters"
            class="header__menu-item list-menu__item link focus-inset"
          >
            <span class="header__active-menu-item">Characters</span>
            {% render 'icon-caret' %}
          </summary>
          <div
            id="MegaMenu-Content-2"
            class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
            tabindex="-1"
          >
            <ul id="menu-characters" class="mega-menu__list page-width" role="list"></ul>
          </div>
        </details>
      </header-menu>
    </li>
  </ul>
</nav>
